<a href="https://colab.research.google.com/github/SrikanthBommakanti/Best-websites-a-programmer-should-visit/blob/master/spark_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip -q install pyspark

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [2]:
from pyspark.sql import Column, DataFrame, functions as F, Row, SparkSession

In [3]:
spark = (
    SparkSession.builder
        .appName("test")
            .master("local[*]")
                .getOrCreate()
)

In [8]:
client = Row(
    id=1,
    name="Srikanth",
    email="srikanth.b@mail.com"
)

print("1. Row.asDict() Output:", client.asDict())
print("2. Row.asDict() To Test:", "assert is true:", client.asDict() == {"id": 1, "name": "Srikanth", "email": "srikanth.b@mail.com"})
print("3. Getting Row attributes: Row['att']:", client["name"])
print("4. Getting Row attributes alternatively: Row.att:", client.email)
print("5. Counting a value occurrence in a Row: Row.count('value'):", client.count("Srikanth"))
print("6. Counting a value occurrence in a Row to test: Row.count('value')", "assert is zero:", client.count("Srikant"))
print("7. Index of a value in a Row: Row.index('value'):", client.index(1))

1. Row.asDict() Output: {'id': 1, 'name': 'Srikanth', 'email': 'srikanth.b@mail.com'}
2. Row.asDict() To Test: assert is true: True
3. Getting Row attributes: Row['att']: Srikanth
4. Getting Row attributes alternatively: Row.att: srikanth.b@mail.com
5. Counting a value occurrence in a Row: Row.count('value'): 1
6. Counting a value occurrence in a Row to test: Row.count('value') assert is zero: 0
7. Index of a value in a Row: Row.index('value'): 0

In [10]:
client2 = Row(
    id=2,
    name="Venkat",
    email="John_test@mail.com"
)

# clients = Column([client, client2]) # Doesn't work this way

# clients = DataFrame([client, client2]) # Neither this

clients = spark.createDataFrame([client, client2]) # Bingo!
clients.show()

+---+--------+-------------------+
| id|    name|              email|
+---+--------+-------------------+
|  1|Srikanth|srikanth.b@mail.com|
|  2|  Venkat| John_test@mail.com|
+---+--------+-------------------+

In [11]:
clients_grouped = (
    clients
        .withColumn("seller", F.lit("Shop"))
        .groupBy("seller")
)

(
clients_grouped
    .agg(F.count("id").alias("clients"))
    .show()
)

+------+-------+
|seller|clients|
+------+-------+
|  Shop|      2|
+------+-------+

In [12]:
for client in clients.collect():
    print("client(raw format):")
    print(client)
    print("client name:")
    print(client["name"])
    print("client email:")
    print(client["email"])
    print("The unusual: get the dict:")
    print(client.asDict())

client(raw format):
Row(id=1, name='Srikanth', email='srikanth.b@mail.com')
client name:
Srikanth
client email:
srikanth.b@mail.com
The unusual: get the dict:
{'id': 1, 'name': 'Srikanth', 'email': 'srikanth.b@mail.com'}
client(raw format):
Row(id=2, name='Venkat', email='John_test@mail.com')
client name:
Venkat
client email:
John_test@mail.com
The unusual: get the dict:
{'id': 2, 'name': 'Venkat', 'email': 'John_test@mail.com'}